:root {
  --main-bg-color: #dae5d6;
  --main-bg-light-color: #e6ede4;
  --main-text-regular-color: #5c5c5c;
  --main-text-color: #0c0c0c;
  --main-text-light-color: #dae5d6;
  --main-border-color: #a6b2a6;
  --main-header-color: #475c4d;
  --main-header-border-color: #a6b2a6;
  --brand-color: #00e59b;
}
