.login-menu-wrapper.active {
  z-index: 2;
}

.login-menu-actions {
  display: flex;
  position: absolute;
  right: -200px;
  top: 54px;
  background-color: white;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 53.3%, 0.2);
  transition: transform 0.5s ease-in;
  z-index: 10;
}

.login-menu-actions li {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
  opacity: 0;
  width: 100%;
}

.login-menu-actions.active {
  transform: translateX(-100%);
}

@keyframes loginMenuFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.login-menu-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.2;
}
