.marker-info-baits-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}

.marker-info-baits-wrapper .group-header {
  text-transform: uppercase;
}

.marker-info-baits-wrapper .baits-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
