.marker-info-bait-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.marker-info-bait-wrapper.view {
  margin-right: 10px;
  margin-bottom: 10px;
}

.marker-info-bait-wrapper.select {
  cursor: pointer;
}

.marker-info-bait-wrapper img,
.marker-info-bait-wrapper .bait-description {
  border-radius: 8px;
}

.marker-info-bait-wrapper.view .bait-description {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
  align-items: center;
  text-align: center;
  word-break: break-word;
  font-size: 12px;
  color: var(--main-text-light-color);
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  user-select: none;
  transition: opacity 0.2s ease-in;
}

.marker-info-bait-wrapper.view .bait-description:hover {
  opacity: 1;
}

.marker-info-bait-wrapper.view.mobile .bait-description:active {
  opacity: 1;
}

.remove-bait-btn-wrapper {
  position: absolute;
  right: 4px;
  top: 4px;
  border-radius: 12px;
  background: white;
  opacity: 0.5;
}

.remove-bait-btn-wrapper:hover {
  opacity: 0.8;
}
