.burger-wrapper {
  margin: 0 16px;
  height: 26px;
}

.burger-wrapper .icon-container {
  display: flex;
  flex-direction: column;
}

.burger-wrapper .icon-container div {
  width: 20px;
  height: 3px;
  background-color: var(--main-text-light-color);
  margin: 2px;
  transition: all 0.3s ease;
}

.active .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.active .line2 {
  opacity: 0;
}

.active .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
