.header-wrapper {
  display: flex;
  min-height: 54px;
  align-items: center;
  background-color: var(--main-header-color);
  color: #e2e2e2;
}

.logo-wrapper {
  margin-left: 25px;
  margin-right: 20px;
}

.header-right-panel-wrapper {
  display: flex;
  margin-right: 16px;
  margin-left: auto;
  align-items: center;
}

.header-right-panel-wrapper.mobile {
  flex-direction: row-reverse;
}

.header-user-name {
  padding: 0 16px;
}
